/* BASIC STYLES */
body {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(50, 131, 160, 1)
  );
}

fieldset {
  border: 1px solid #6d7585;
  border-left: none;
  border-bottom: none;
  border-right: none;
  padding: 0 10px 0 10px;
}

legend {
  padding: 0 10px 0 10px;
}

h1,
h2 {
  padding-top: 20px;
}

button {
  background-color: #fff;
  border: 1px solid gray;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

/*
  button:disabled {
    border: 1px solid lightgray;
    color: lightgray;
  }
  
  input,
  select,
  button,
  a {
    margin-left: 10px;
  }
  
  a:link,
  a:hover,
  a:visited,
  a:active {
    color: black;
  }

  */
